* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  line-height: 1.4;
  color: #333;
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4 {
  line-height: 1.2; }

img {
  width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.bg-lt {
  background-color: #f4f4f4;
  color: black; }

.bg-dk {
  background-color: #333;
  color: #f4f4f4; }

.section-info {
  text-align: center;
  position: relative; }
  .section-info .section-title {
    font-family: "Roboto", sans-serif; }
  .section-info .section-lead {
    padding: 1.5rem; }
  .section-info::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #f1c40f;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); }

.category-info {
  text-align: left;
  position: relative; }
  .category-info .category-title {
    font-family: "Roboto", sans-serif; }
  .category-info .category-lead {
    padding: 1.5rem 0; }
  .category-info::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #f1c40f;
    position: absolute;
    left: 0;
    bottom: 0; }

#main-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  #main-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #main-nav .container #logo {
      width: 150px; }
    #main-nav .container .nav-menu {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      transition: width 1s ease; }
      #main-nav .container .nav-menu p {
        white-space: nowrap;
        color: #f1c40f;
        font-size: 1.2rem;
        margin-right: 2rem; }
      #main-nav .container .nav-menu .hamburger {
        padding: 14px 0;
        cursor: pointer; }
        #main-nav .container .nav-menu .hamburger .mid-layer {
          width: 30px;
          height: 2px;
          background-color: #fff;
          position: relative;
          transition: all 0.5s ease; }
          #main-nav .container .nav-menu .hamburger .mid-layer::before, #main-nav .container .nav-menu .hamburger .mid-layer::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: inherit; }
          #main-nav .container .nav-menu .hamburger .mid-layer::before {
            top: -14px;
            left: 10px; }
          #main-nav .container .nav-menu .hamburger .mid-layer::after {
            top: 14px;
            left: 0; }
      #main-nav .container .nav-menu:hover {
        width: 50%; }
        #main-nav .container .nav-menu:hover .mid-layer {
          transform: rotate(135deg); }
          #main-nav .container .nav-menu:hover .mid-layer::before, #main-nav .container .nav-menu:hover .mid-layer::after {
            width: 100%;
            top: 0;
            left: 0;
            transform: rotate(90deg); }

#main-heading {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, transparent, transparent 30%, black);
  position: relative; }
  #main-heading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: -2; }
  #main-heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: url("../img/backview1.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    overflow: hidden;
    opacity: 0;
    animation: bgreveal 5s ease-in-out 1s forwards;
    z-index: -1; }
  #main-heading .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    #main-heading .container .heading-content {
      text-align: right;
      grid-column: 2; }
      #main-heading .container .heading-content h1 {
        font-size: 3rem;
        font-family: "Raleway", sans-serif;
        color: transparent;
        background: linear-gradient(to right, #dc2f02, #f1c40f);
        background-clip: text;
        -webkit-background-clip: text;
        margin-bottom: 2rem;
        text-transform: uppercase; }
      #main-heading .container .heading-content p {
        font-size: 1.5rem;
        color: #333; }

@keyframes bgreveal {
  to {
    width: 100%;
    opacity: 1; } }

#about .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem; }
  #about .container .section-info {
    grid-column: 1 / span 2; }
  #about .container .self-intro {
    padding: 1.5rem;
    background-color: #999;
    border-left: 3px solid #f1c40f; }

#works .work-collection {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem; }
  #works .work-collection .work-item {
    position: relative;
    overflow: hidden; }
    #works .work-collection .work-item .screen-shot {
      transform-origin: center center;
      transition: all 1s ease; }
    #works .work-collection .work-item .item-desc {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: -100%;
      color: #f1c40f;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      opacity: 0;
      transition: all 0.5s ease; }
    #works .work-collection .work-item:hover .screen-shot {
      transform: scale(1.5);
      filter: grayscale(1) brightness(0.4); }
    #works .work-collection .work-item:hover .item-desc {
      opacity: 1;
      top: 0; }

#main-footer {
  background-color: #000;
  color: #fff;
  text-align: center; }
