* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 1rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.primary-title {
  font-family: "Fredoka One", cursive; }

.secondary-title {
  font-family: "Poiret One", cursive; }

.section-title {
  font-size: 2rem;
  position: relative; }
  .section-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #f1c40f; }

.section-lead {
  font-size: 1.5rem; }

::placeholder {
  font-family: "Roboto", sans-serif; }

.tag-js, .tag-responsive, .tag-sass {
  padding: 2px 5px;
  margin: 0.5rem;
  margin-left: 0;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  color: white; }

.tag-js {
  background: #f7df1e; }

.tag-responsive {
  background: #ef652a; }

.tag-sass {
  background: #be608b; }

.lt-showcase-bg {
  background: rgba(255, 255, 255, 0.5); }

.dk-showcase-bg {
  background: rgba(0, 0, 0, 0.5); }

.lt-primary-bg {
  background: white; }

.dk-primary-bg {
  background: black; }

.lt-secondary-bg {
  background: #ccc; }

.dk-secondary-bg {
  background: #333; }

.lt-primary-color {
  color: black; }

.dk-primary-color {
  color: white; }

.luminousText {
  position: relative;
  width: max-content; }

.glowing {
  animation: glowingText 2s ease-in-out infinite; }
  .glowing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.5;
    filter: blur(40px); }

#nav {
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10; }
  #nav .container {
    display: grid;
    grid-template-columns: 90px 1fr 180px;
    align-items: center;
    justify-items: center;
    justify-content: space-between; }
    #nav .container #logo {
      height: 30px; }
    #nav .container #menu-wrap {
      position: relative; }
      #nav .container #menu-wrap #nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        position: relative; }
        #nav .container #menu-wrap #nav-menu a {
          display: block;
          width: 80px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          text-decoration: none;
          color: white; }
      #nav .container #menu-wrap #nav-slider {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 240px;
        background: grey;
        transition: all 0.5s ease-in-out;
        z-index: -1; }
    #nav .container #mode-switch {
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #nav .container #mode-switch img {
        height: 25px;
        margin: 0 10px; }
      #nav .container #mode-switch #switch-wrap {
        position: relative;
        width: 50px;
        height: 25px;
        border-radius: 25px;
        cursor: pointer;
        overflow: hidden; }
        #nav .container #mode-switch #switch-wrap .wrapper {
          transition: all 0.3s linear; }
          #nav .container #mode-switch #switch-wrap .wrapper #switch-flicker {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: white;
            left: 0;
            top: 0;
            z-index: 1; }
          #nav .container #mode-switch #switch-wrap .wrapper .darkOff {
            position: absolute;
            width: 50px;
            height: 25px;
            top: 0;
            left: 0;
            border-radius: 25px;
            background: grey; }
          #nav .container #mode-switch #switch-wrap .wrapper .darkOn {
            position: absolute;
            width: 50px;
            height: 25px;
            top: 0;
            left: -50%;
            border-radius: 25px;
            background: blue; }

#showcase {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  #showcase .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center; }
    #showcase .container #showcase-intro h1 {
      font-size: 3.5rem; }
    #showcase .container #showcase-intro h2 {
      font-size: 2rem; }
  #showcase #showcase-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1; }
    #showcase #showcase-slide::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, black, transparent, black); }
    #showcase #showcase-slide #slides-wrap {
      height: 100%;
      display: flex;
      width: max-content;
      animation: workSlide 30s linear infinite; }
      #showcase #showcase-slide #slides-wrap img {
        height: 100%; }

#about {
  width: 100%; }
  #about .container {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 3rem; }
    #about .container #about-details {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 3rem;
      justify-content: space-between; }
      #about .container #about-details img {
        width: 100%;
        border-radius: 50%; }
      #about .container #about-details p {
        text-align: left;
        border-left: 2px solid #f1c40f;
        padding: 1rem;
        font-size: 1.2rem; }
    #about .container #about-skills {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      #about .container #about-skills img {
        width: 50px; }
      #about .container #about-skills .learning-skills {
        filter: blur(1px) grayscale(1); }

#work {
  width: 100%; }
  #work .container {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 3rem; }
    #work .container #major-projects {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: space-around;
      gap: 1rem; }
      #work .container #major-projects .project-wrap {
        height: 450px;
        position: relative; }
        #work .container #major-projects .project-wrap .project-img {
          width: 100%;
          position: relative;
          overflow: hidden; }
          #work .container #major-projects .project-wrap .project-img img {
            width: 100%;
            transition: all 0.5s linear; }
          #work .container #major-projects .project-wrap .project-img .project-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: -100%;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: gold;
            font-size: 1.3rem;
            opacity: 0;
            transition: all 0.5s ease; }
          #work .container #major-projects .project-wrap .project-img:hover img {
            transform: scale(1.5);
            filter: grayscale(1) brightness(30%); }
          #work .container #major-projects .project-wrap .project-img:hover .project-overlay {
            opacity: 1;
            top: 0; }
        #work .container #major-projects .project-wrap .project-desc {
          width: 100%;
          padding: 1rem;
          text-align: left; }
        #work .container #major-projects .project-wrap .project-tags {
          width: 100%;
          padding: 0 1rem;
          position: absolute;
          left: 0;
          bottom: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-start; }
        #work .container #major-projects .project-wrap .project-source {
          width: 100%;
          height: 50px;
          position: absolute;
          left: 0;
          bottom: 0; }
          #work .container #major-projects .project-wrap .project-source a {
            display: inline-block;
            width: 100%;
            height: 100%; }
            #work .container #major-projects .project-wrap .project-source a i {
              line-height: 50px; }
          #work .container #major-projects .project-wrap .project-source:hover {
            background: gold; }
    #work .container #minor-projects {
      width: 100%;
      position: relative; }
      #work .container #minor-projects .minor-projects-header {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; }
        #work .container #minor-projects .minor-projects-header i {
          transition: transform 0.5s linear; }
      #work .container #minor-projects .minor-projects-main {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease; }
        #work .container #minor-projects .minor-projects-main .minor-projects-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fill, 250px);
          justify-content: space-around;
          gap: 1rem;
          opacity: 0;
          transition: opacity 0.5s ease; }
          #work .container #minor-projects .minor-projects-main .minor-projects-container .minor-project-img {
            width: 100%;
            overflow: hidden;
            position: relative; }
            #work .container #minor-projects .minor-projects-main .minor-projects-container .minor-project-img img {
              width: 100%;
              transition: all 0.5s linear; }
            #work .container #minor-projects .minor-projects-main .minor-projects-container .minor-project-img .minor-project-overlay {
              width: 100%;
              height: 100%;
              position: absolute;
              top: -100%;
              left: 0;
              opacity: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: gold;
              font-size: 1rem;
              transition: all 0.5s ease; }
            #work .container #minor-projects .minor-projects-main .minor-projects-container .minor-project-img:hover img {
              transform: scale(1.5);
              filter: grayscale(1) brightness(30%); }
            #work .container #minor-projects .minor-projects-main .minor-projects-container .minor-project-img:hover .minor-project-overlay {
              opacity: 1;
              top: 0; }

#contact {
  width: 100%; }
  #contact .container {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 3rem; }
    #contact .container #contact-form {
      width: 70%;
      text-align: left; }
      #contact .container #contact-form .input-group {
        width: 100%;
        margin-bottom: 2rem; }
        #contact .container #contact-form .input-group input,
        #contact .container #contact-form .input-group textarea {
          width: 100%;
          padding: 1rem;
          outline: none;
          margin-bottom: 0.5rem;
          font-family: "Roboto", sans-serif; }
          #contact .container #contact-form .input-group input:focus,
          #contact .container #contact-form .input-group textarea:focus {
            border-color: skyblue;
            border-style: solid; }
        #contact .container #contact-form .input-group textarea {
          resize: none;
          height: 200px;
          overflow: auto; }
        #contact .container #contact-form .input-group p {
          color: red;
          opacity: 0; }
      #contact .container #contact-form input[type="submit"] {
        width: 100%;
        background: black;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 1rem;
        text-align: center;
        margin-bottom: 0.5rem; }

footer {
  width: 100%;
  height: 70px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes workSlide {
  100% {
    transform: translateX(-66.67%); } }

@keyframes glowingText {
  50% {
    text-shadow: 0 0 15px; }
  100% {
    text-shadow: none; } }

@media (max-width: 768px) {
  #nav #menu-wrap {
    grid-row: 2;
    grid-column: 1 / span 3; }
  #nav #mode-switch {
    grid-row: 1;
    grid-column: 3; }
  #showcase .container {
    grid-template-columns: 1fr; }
  #about .container #about-details {
    grid-template-columns: 1fr; }
    #about .container #about-details img {
      width: 80%;
      justify-self: center; }
  #about .container #about-skills {
    width: 100%; }
  #contact .container #contact-form {
    width: 100%; } }

@media (max-width: 400px) {
  #showcase .container #showcase-intro h1 {
    font-size: 3rem; }
  #showcase .container #showcase-intro h2 {
    font-size: 1.75rem; }
  #about .container #about-skills img {
    width: 30px; } }
