// CONFIG

// varialbes

$primary-color: #f1c40f;
$secondary-color: #dc2f02;
$dark-color: #333;
$light-color: #f4f4f4;
$medium-color: #999;
$max-width: 1200px;

$opensans-stack: "Open Sans", sans-serif;
$raleway-stack: "Raleway", sans-serif;
$roboto-stack: "Roboto", sans-serif;

// general

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  color: $dark-color;
  font-family: $opensans-stack;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// utilities
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.bg-lt {
  background-color: $light-color;
  color: black;
}

.bg-dk {
  background-color: $dark-color;
  color: $light-color;
}

.section-info {
  text-align: center;
  position: relative;

  .section-title {
    font-family: $roboto-stack;
  }
  .section-lead {
    padding: 1.5rem;
  }
  &::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: $primary-color;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.category-info {
  text-align: left;
  position: relative;

  .category-title {
    font-family: $roboto-stack;
  }
  .category-lead {
    padding: 1.5rem 0;
  }
  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

// Navbar

#main-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #logo {
      width: 150px;
    }
    .nav-menu {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      transition: width 1s ease;
      p {
        white-space: nowrap;
        color: $primary-color;
        font-size: 1.2rem;
        margin-right: 2rem;
      }
      .hamburger {
        padding: 14px 0;
        cursor: pointer;
        .mid-layer {
          width: 30px;
          height: 2px;
          background-color: #fff;
          position: relative;
          transition: all 0.5s ease;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: inherit;
          }
          &::before {
            top: -14px;
            left: 10px;
          }
          &::after {
            top: 14px;
            left: 0;
          }
        }
      }
      &:hover {
        width: 50%;
        .mid-layer {
          transform: rotate(135deg);
          &::before,
          &::after {
            width: 100%;
            top: 0;
            left: 0;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

// Header
#main-heading {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, transparent, transparent 30%, black);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: -2;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: url("../img/backview1.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    overflow: hidden;
    opacity: 0;
    animation: bgreveal 5s ease-in-out 1s forwards;
    z-index: -1;
  }
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .heading-content {
      text-align: right;
      grid-column: 2;
      h1 {
        font-size: 3rem;
        font-family: $raleway-stack;
        color: transparent;
        background: linear-gradient(to right, $secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1.5rem;
        color: $dark-color;
      }
    }
  }
}

@keyframes bgreveal {
  to {
    width: 100%;
    opacity: 1;
  }
}

// About
#about {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    .section-info {
      grid-column: 1 / span 2;
    }

    .self-intro {
      padding: 1.5rem;
      background-color: $medium-color;
      border-left: 3px solid $primary-color;
    }
  }
}

// Works
#works {
  .work-collection {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    .work-item {
      position: relative;
      overflow: hidden;
      .screen-shot {
        transform-origin: center center;
        transition: all 1s ease;
      }
      .item-desc {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        color: $primary-color;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: $roboto-stack;
        opacity: 0;
        transition: all 0.5s ease;
      }
      &:hover {
        .screen-shot {
          transform: scale(1.5);
          filter: grayscale(1) brightness(0.4);
        }
        .item-desc {
          opacity: 1;
          top: 0;
        }
      }
    }
  }
}

// Footer
#main-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}
